In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:
# password was changed here according to Homework
conn = f"postgresql://postgres:postgres@localhost:5432/UNICEF_Data_Warehouse"
#engine = create_engine('postgresql://postgres:postgres@localhost:5432/UNICEF_Data_Warehouse')
engine = create_engine(conn)
#connection = engine.connect()
#connection
engine

Engine(postgresql://postgres:***@localhost:5432/UNICEF_Data_Warehouse)

### Store CSV into DataFrame

In [3]:
csv_file_child_mortality = "Resources/UNICEF_child_mortality.csv"

UNICEF_child_mortality_data_df = pd.read_csv(csv_file_child_mortality)
UNICEF_child_mortality_data_df.head(5)

,DATAFLOW,REF_AREA:Country,INDICATOR:Indicator,SEX:Sex,WEALTH_QUINTILE:Wealth Quintile,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,DATA_SOURCE:Data Source,COUNTRY_NOTES:Country notes,REF_PERIOD:Reference Period,UNIT_MEASURE:Unit of measure,LOWER_BOUND:Lower Bound,UPPER_BOUND:Upper Bound,OBS_STATUS:Observation Status
0,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2009,26.826482,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,23.861545,30.230685,A: Normal value
1,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2010,25.182880,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,22.185457,28.601329,A: Normal value
2,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2011,23.637619,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,20.535600,27.149805,A: Normal value
3,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2012,22.101076,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,18.906695,25.695924,A: Normal value
4,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2013,20.689106,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,17.329705,24.408933,A: Normal value

In [4]:
csv_file_child_poverty = "Resources/UNICEF_child_poverty.csv"

UNICEF_child_poverty_data_df = pd.read_csv(csv_file_child_poverty)
UNICEF_child_poverty_data_df.head(5)

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2017,0.365454,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2017,0.357279,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2017,0.361314,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
3,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2012,0.704386,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,MICS 4,NaN,NaN,NaN,NaN,NaN,_T: Total
4,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2012,0.729537,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,MICS 4,NaN,NaN,NaN,NaN,NaN,_T: Total

### Create new data with select columns

In [5]:
#mortality_data specific columns
new_UNICEF_child_mortality_data_df = UNICEF_child_mortality_data_df[["REF_AREA:Country","INDICATOR:Indicator","SEX:Sex","TIME_PERIOD:Time period","OBS_VALUE:Observation Value","UNIT_MEASURE:Unit of measure"]]
new_UNICEF_child_mortality_data_df.head(5)

,REF_AREA:Country,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure
0,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2009,26.826482,D_PER_1000_1: Deaths per 1000 children aged 1
1,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2010,25.182880,D_PER_1000_1: Deaths per 1000 children aged 1
2,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2011,23.637619,D_PER_1000_1: Deaths per 1000 children aged 1
3,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2012,22.101076,D_PER_1000_1: Deaths per 1000 children aged 1
4,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2013,20.689106,D_PER_1000_1: Deaths per 1000 children aged 1

In [7]:
# mortality_data Rename
new_UNICEF_child_mortality_data_df = new_UNICEF_child_mortality_data_df.rename(columns={'REF_AREA:Country':'country_code_name','INDICATOR:Indicator':'indicator',
'OBS_VALUE:Observation Value':'observation','UNIT_MEASURE:Unit of measure':'unit_of_measure','SEX:Sex':'sex','TIME_PERIOD:Time period':'timeperiod'},inplace = False)

In [9]:
# Check mortality_data
new_UNICEF_child_mortality_data_df

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
0,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2009,26.826482,D_PER_1000_1: Deaths per 1000 children aged 1
1,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2010,25.182880,D_PER_1000_1: Deaths per 1000 children aged 1
2,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2011,23.637619,D_PER_1000_1: Deaths per 1000 children aged 1
3,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2012,22.101076,D_PER_1000_1: Deaths per 1000 children aged 1
4,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2013,20.689106,D_PER_1000_1: Deaths per 1000 children aged 1
...,...,...,...,...,...,...
7618,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2015,20.012033,D_PER_1000_1: Deaths per 1000 children aged 1
7619,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2016,18.930000,D_PER_1000_1: Deaths per 1000 children aged 1
7620,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2017,18.465815,D_PER_1000_1: Deaths per 1000 children aged 1
7621,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2018,17.260980,D_PER_1000_1: Deaths per 1000 children aged 1
7622,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2019,16.836098,D_PER_1000_1: Deaths per 1000 children aged 1

In [ ]:
#new_UNICEF_child_mortality_data_df.country_code_name.str.split(':',expand=True)[1]

In [ ]:

#new_UNICEF_child_mortality_data_df['country_name']= new_UNICEF_child_mortality_data_df.country_code_name.str.split(':',expand=True)[1]

In [ ]:
#mod = new_UNICEF_child_mortality_data_df[new_UNICEF_child_mortality_data_df['sex'] != '_T: Total']

In [10]:
# Good to run -- Check mortality_data
new_UNICEF_child_mortality_data_df.head()

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
0,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2009,26.826482,D_PER_1000_1: Deaths per 1000 children aged 1
1,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2010,25.182880,D_PER_1000_1: Deaths per 1000 children aged 1
2,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2011,23.637619,D_PER_1000_1: Deaths per 1000 children aged 1
3,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2012,22.101076,D_PER_1000_1: Deaths per 1000 children aged 1
4,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2013,20.689106,D_PER_1000_1: Deaths per 1000 children aged 1

In [ ]:
new_UNICEF_child_mortality_data_df.dtypes

In [11]:
# new line added by Jay
# Get rid of the text before : from the mortality columns
columns = ['country_code_name', 'indicator', 'sex', 'unit_of_measure']

# d = new_UNICEF_child_mortality_data_df.copy()

for col in columns:
    new_UNICEF_child_mortality_data_df[col] = new_UNICEF_child_mortality_data_df[col].str.split(':', expand=True)[1]
new_UNICEF_child_mortality_data_df.head()

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
0,Afghanistan,Child mortality rate (aged 1-4 years),Female,2009,26.826482,Deaths per 1000 children aged 1
1,Afghanistan,Child mortality rate (aged 1-4 years),Female,2010,25.182880,Deaths per 1000 children aged 1
2,Afghanistan,Child mortality rate (aged 1-4 years),Female,2011,23.637619,Deaths per 1000 children aged 1
3,Afghanistan,Child mortality rate (aged 1-4 years),Female,2012,22.101076,Deaths per 1000 children aged 1
4,Afghanistan,Child mortality rate (aged 1-4 years),Female,2013,20.689106,Deaths per 1000 children aged 1

In [12]:
# remove spaces _mortality_data
columns = ['country_code_name', 'indicator', 'sex', 'unit_of_measure']

#d = new_UNICEF_child_mortality_data_df.copy()

for col in columns:
    new_UNICEF_child_mortality_data_df[col] = new_UNICEF_child_mortality_data_df[col].str.lstrip()
new_UNICEF_child_mortality_data_df.head()

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
0,Afghanistan,Child mortality rate (aged 1-4 years),Female,2009,26.826482,Deaths per 1000 children aged 1
1,Afghanistan,Child mortality rate (aged 1-4 years),Female,2010,25.182880,Deaths per 1000 children aged 1
2,Afghanistan,Child mortality rate (aged 1-4 years),Female,2011,23.637619,Deaths per 1000 children aged 1
3,Afghanistan,Child mortality rate (aged 1-4 years),Female,2012,22.101076,Deaths per 1000 children aged 1
4,Afghanistan,Child mortality rate (aged 1-4 years),Female,2013,20.689106,Deaths per 1000 children aged 1

In [ ]:
#Sample example from JAY
# do not run 
#d3 = new_UNICEF_child_mortality_data_df.copy()
#d3['country_code_name'] = d3.country_code_name.str.lstrip()
#[d3['country_code_name'] == 'Zimbabwe']

In [ ]:
#new_UNICEF_child_mortality_data_df = new_UNICEF_child_mortality_data_df.query('country_code_name == "North America"')

In [ ]:
#new_UNICEF_child_mortality_data_df

In [13]:
new_UNICEF_child_mortality_data_df[new_UNICEF_child_mortality_data_df["country_code_name"]== "North America"]

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
6237,North America,Child mortality rate (aged 1-4 years),Female,2009,0.972293,Deaths per 1000 children aged 1
6238,North America,Child mortality rate (aged 1-4 years),Female,2010,0.945283,Deaths per 1000 children aged 1
6239,North America,Child mortality rate (aged 1-4 years),Female,2011,0.921090,Deaths per 1000 children aged 1
6240,North America,Child mortality rate (aged 1-4 years),Female,2012,0.899014,Deaths per 1000 children aged 1
6241,North America,Child mortality rate (aged 1-4 years),Female,2013,0.881874,Deaths per 1000 children aged 1
...,...,...,...,...,...,...
6793,North America,Child mortality rate (aged 1-4 years),Total,2015,0.959578,Deaths per 1000 children aged 1
6794,North America,Child mortality rate (aged 1-4 years),Total,2016,0.943739,Deaths per 1000 children aged 1
6795,North America,Child mortality rate (aged 1-4 years),Total,2017,0.928141,Deaths per 1000 children aged 1
6796,North America,Child mortality rate (aged 1-4 years),Total,2018,0.911844,Deaths per 1000 children aged 1
6797,North America,Child mortality rate (aged 1-4 years),Total,2019,0.893092,Deaths per 1000 children aged 1

In [ ]:
#new_s_df = pd.DataFrame[["country_code_name"]]

In [ ]:
#new_UNICEF_child_mortality_data_df['code', 'country_name']=

In [ ]:
#End of UNICEF_child_mortality_data_

In [ ]:
# Poverty_data --- Selected columns
new_UNICEF_child_poverty_data_df = UNICEF_child_poverty_data_df[["REF_AREA:Geographic area","INDICATOR:Indicator","SEX:Sex","TIME_PERIOD:Time period","OBS_VALUE:Observation Value","UNIT_MEASURE:Unit of measure"]]
new_UNICEF_child_poverty_data_df.head(5)

In [ ]:
# Rename poverty columns 
# Check this line May have to delete that
new_UNICEF_child_poverty_data_df = new_UNICEF_child_poverty_data_df.rename(columns={'REF_AREA:Geographic area':'country_code_name','INDICATOR:Indicator':'indicator',
'OBS_VALUE:Observation Value':'observation','UNIT_MEASURE:Unit of measure':'unit_of_measure','SEX:Sex':'sex','TIME_PERIOD:Time period':'timeperiod'} ,inplace = False)

In [ ]:
new_UNICEF_child_poverty_data_df

In [ ]:
#new_UNICEF_child_poverty_data_df_filter_year = new_UNICEF_child_poverty_data_df.query('TimePeriod == 2009' 
                                                                or 'TimePeriod == 2021'    )
#new_UNICEF_child_poverty_data_df_filter_year

In [ ]:
new_UNICEF_child_poverty_data_df.dtypes

In [ ]:
new_UNICEF_child_poverty_data_df

In [ ]:
# new line added by Jay poverty
# Get rid of the text before : from the mortality columns
#columns = ['country_code_name', 'indicator', 'sex']
columns = ['country_code_name', 'indicator', 'sex', 'unit_of_measure']

#d = new_UNICEF_child_poverty_data_df.copy()

for col in columns:
 #   d[col] = d[col].str.split(':', expand=True)[1]
    new_UNICEF_child_poverty_data_df[col] = new_UNICEF_child_poverty_data_df[col].str.split(':', expand=True)[1]
new_UNICEF_child_poverty_data_df.head(5)

In [ ]:
#Remove Spaces poverty_data
columns = ['country_code_name', 'indicator', 'sex', 'unit_of_measure']

#d = new_UNICEF_child_mortality_data_df.copy()

for col in columns:
    new_UNICEF_child_poverty_data_df[col] = new_UNICEF_child_poverty_data_df[col].str.lstrip()
new_UNICEF_child_poverty_data_df.head()

In [ ]:
new_UNICEF_child_poverty_data_df = new_UNICEF_child_poverty_data_df.query('country_code_name == "North America"')

In [ ]:
new_UNICEF_child_poverty_data_df

### Store JSON data into a DataFrame

### Clean DataFrame

### Connect to local database

### Check for tables

In [ ]:
engine.table_names()

In [ ]:
engine

inspector = inspect(engine)

In [ ]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('child_mortality')
for m in columns:
    print(m['name'], m["type"])

In [ ]:
# Use Inspector to print the column names and types
# No need to run
columns = inspector.get_columns('child_poverty')
for m in columns:
    print(m['name'], m["type"])

In [ ]:
#just a test
new_UNICEF_child_mortality_data_df[new_UNICEF_child_mortality_data_df["country_code_name"]== "North America"]

### Use pandas to load csv converted DataFrame into database

In [ ]:
#Load the child_mortality data
new_UNICEF_child_mortality_data_df.to_sql(name='child_mortality', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
#Load the child_poverty data
new_UNICEF_child_poverty_data_df.to_sql(name='child_poverty', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()