In [59]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [47]:
# password was changed here according to Homework
conn = f"postgresql://postgres:postgres@localhost:5432/UNICEF_Data_Warehouse"
#engine = create_engine('postgresql://postgres:postgres@localhost:5432/UNICEF_Data_Warehouse')
engine = create_engine(conn)
#connection = engine.connect()
#connection
engine

Engine(postgresql://postgres:***@localhost:5432/UNICEF_Data_Warehouse)

### Store CSV into DataFrame

In [48]:
csv_file_child_mortality = "Resources/UNICEF_child_mortality.csv"

UNICEF_child_mortality_data_df = pd.read_csv(csv_file_child_mortality)
UNICEF_child_mortality_data_df.head(5)

,DATAFLOW,REF_AREA:Country,INDICATOR:Indicator,SEX:Sex,WEALTH_QUINTILE:Wealth Quintile,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,DATA_SOURCE:Data Source,COUNTRY_NOTES:Country notes,REF_PERIOD:Reference Period,UNIT_MEASURE:Unit of measure,LOWER_BOUND:Lower Bound,UPPER_BOUND:Upper Bound,OBS_STATUS:Observation Status
0,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2009,26.826482,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,23.861545,30.230685,A: Normal value
1,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2010,25.182880,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,22.185457,28.601329,A: Normal value
2,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2011,23.637619,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,20.535600,27.149805,A: Normal value
3,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2012,22.101076,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,18.906695,25.695924,A: Normal value
4,UNICEF:CME(1.0): Child Mortality,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,_T: Total,2013,20.689106,UN_IGME,NaN,NaN,D_PER_1000_1: Deaths per 1000 children aged 1,17.329705,24.408933,A: Normal value

In [49]:
csv_file_child_poverty = "Resources/UNICEF_child_poverty.csv"

UNICEF_child_poverty_data_df = pd.read_csv(csv_file_child_poverty)
UNICEF_child_poverty_data_df.head(5)

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2017,0.365454,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2017,0.357279,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2017,0.361314,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,DHS VII,NaN,NaN,NaN,NaN,NaN,_T: Total
3,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2012,0.704386,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,MICS 4,NaN,NaN,NaN,NaN,NaN,_T: Total
4,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2012,0.729537,NaN,PCNT: %,NaN,NaN,...,NaN,NaN,NaN,MICS 4,NaN,NaN,NaN,NaN,NaN,_T: Total

### Create new data with select columns

In [50]:
new_UNICEF_child_mortality_data_df = UNICEF_child_mortality_data_df[["REF_AREA:Country","INDICATOR:Indicator","SEX:Sex","TIME_PERIOD:Time period","OBS_VALUE:Observation Value","UNIT_MEASURE:Unit of measure"]]
new_UNICEF_child_mortality_data_df.head(5)

,REF_AREA:Country,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure
0,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2009,26.826482,D_PER_1000_1: Deaths per 1000 children aged 1
1,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2010,25.182880,D_PER_1000_1: Deaths per 1000 children aged 1
2,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2011,23.637619,D_PER_1000_1: Deaths per 1000 children aged 1
3,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2012,22.101076,D_PER_1000_1: Deaths per 1000 children aged 1
4,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2013,20.689106,D_PER_1000_1: Deaths per 1000 children aged 1

In [51]:
new_UNICEF_child_mortality_data_df = new_UNICEF_child_mortality_data_df.rename(columns={'REF_AREA:Country':'country_code_name','INDICATOR:Indicator':'indicator',
'OBS_VALUE:Observation Value':'observation','UNIT_MEASURE:Unit of measure':'unit_of_measure','SEX:Sex':'sex','TIME_PERIOD:Time period':'timeperiod'},inplace = False)

In [52]:
new_UNICEF_child_mortality_data_df

,country_code_name,indicator,sex,timeperiod,observation,unit_of_measure
0,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2009,26.826482,D_PER_1000_1: Deaths per 1000 children aged 1
1,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2010,25.182880,D_PER_1000_1: Deaths per 1000 children aged 1
2,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2011,23.637619,D_PER_1000_1: Deaths per 1000 children aged 1
3,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2012,22.101076,D_PER_1000_1: Deaths per 1000 children aged 1
4,AFG: Afghanistan,CME_MRY1T4: Child mortality rate (aged 1-4 years),F: Female,2013,20.689106,D_PER_1000_1: Deaths per 1000 children aged 1
...,...,...,...,...,...,...
7618,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2015,20.012033,D_PER_1000_1: Deaths per 1000 children aged 1
7619,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2016,18.930000,D_PER_1000_1: Deaths per 1000 children aged 1
7620,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2017,18.465815,D_PER_1000_1: Deaths per 1000 children aged 1
7621,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2018,17.260980,D_PER_1000_1: Deaths per 1000 children aged 1
7622,ZWE: Zimbabwe,CME_MRY1T4: Child mortality rate (aged 1-4 years),_T: Total,2019,16.836098,D_PER_1000_1: Deaths per 1000 children aged 1

In [69]:
new_UNICEF_child_poverty_data_df = UNICEF_child_poverty_data_df[["REF_AREA:Geographic area","INDICATOR:Indicator","SEX:Sex","TIME_PERIOD:Time period","OBS_VALUE:Observation Value","UNIT_MULTIPLIER:Unit multiplier"]]
new_UNICEF_child_poverty_data_df

,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier
0,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2017,0.365454,NaN
1,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2017,0.357279,NaN
2,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2017,0.361314,NaN
3,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2012,0.704386,NaN
4,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2012,0.729537,NaN
...,...,...,...,...,...,...
211,ZMB: Zambia,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2018,1.705792,NaN
212,ZMB: Zambia,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2018,1.683377,NaN
213,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2015,1.281448,NaN
214,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2015,1.313908,NaN
215,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2015,1.297730,NaN

In [66]:
new_UNICEF_child_poverty_data_df = new_UNICEF_child_poverty_data_df.rename(columns={'REF_AREA:Geographic area':'country_code_name','INDICATOR:Indicator':'indicator',
'OBS_VALUE:Observation Value':'observation','UNIT_MULTIPLIER:Unit multiplier':'unit_of_measure','SEX:Sex':'sex','TIME_PERIOD:Time period':'timeperiod'} ,inplace = False)

In [68]:
new_UNICEF_child_poverty_data_df

,CountryCodeName,Indicator,Sex,TimePeriod,Observation,Unit_of_measure
0,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2017,0.365454,NaN
1,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2017,0.357279,NaN
2,ALB: Albania,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2017,0.361314,NaN
3,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2012,0.704386,NaN
4,DZA: Algeria,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2012,0.729537,NaN
...,...,...,...,...,...,...
211,ZMB: Zambia,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2018,1.705792,NaN
212,ZMB: Zambia,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2018,1.683377,NaN
213,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,F: Female,2015,1.281448,NaN
214,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,M: Male,2015,1.313908,NaN
215,ZWE: Zimbabwe,PV_CHLD_DPRV-AVG-HS: Average number of depriva...,_T: Total,2015,1.297730,NaN

In [ ]:
#new_UNICEF_child_poverty_data_df_filter_year = new_UNICEF_child_poverty_data_df.query('TimePeriod == 2009' 
                                                                or 'TimePeriod == 2021'    )
#new_UNICEF_child_poverty_data_df_filter_year

### Store JSON data into a DataFrame

### Clean DataFrame

### Connect to local database

### Check for tables

In [70]:
engine.table_names()

['child_mortality']

In [71]:
engine

inspector = inspect(engine)

In [72]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('child_mortality')
for m in columns:
    print(m['name'], m["type"])

country_code_name VARCHAR(255)
indicator VARCHAR(255)
sex VARCHAR(255)
timeperiod VARCHAR(25)
observation VARCHAR(255)
unit_of_measure VARCHAR(255)

In [73]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('child_poverty')
for m in columns:
    print(m['name'], m["type"])

NoSuchTableError: child_poverty

### Use pandas to load csv converted DataFrame into database

In [62]:
#Load the child_mortality data
new_UNICEF_child_mortality_data_df.to_sql(name='child_mortality', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [37]:
#Load the child_poverty data
new_UNICEF_child_poverty_data_df.to_sql(name='child_poverty', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()